.login {
  height: 85vh;
  @include flex(column);

  > main {
    width: 90%;
    height: 75%;
    max-width: 31vw; /* Use vw instead of px */
    padding: 2rem;
    @include baseShadow;
    border-radius: 12px;
    @include flex(column, center, stretch);
    position: absolute;
    top: 6.8rem;

    > div {
      width: 100%;
      @include flex(column, flex-start, stretch, 0.2rem);
      > input,
      select {
        @include inputStyle;
        border: 1px solid rgba(162, 162, 162, 0.52);
        border-radius: 7px;
      }
      > p {
        text-align: center;
        margin: 2rem;
      }
      > button {
        width: 60%;
        margin: auto;
        height: 3rem;
        @include button(unset, 5px, rgb(62, 125, 142), whitesmoke);
        @include flex;
        border: 1px solid rgb(62, 125, 142);
        font-size: 0.9rem;
      }
      svg {
        background-color: white;
        width: 33%;
        height: 100%;
        border-radius: 5px;
      }

      > span {
        width: 100%;
        text-align: center;
      }
    }
  }
}
